
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.container .gridbox{
    border: 1px solid red;
}
.container .item1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
@media only screen and (max-width: 600px) {
    .container .item1{
        background-color: lightblue;
        grid-column: span 4;
    }
    .gridbox{
        grid-column: span 3;
    }
    
}